In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('/home/naiph/Downloads/tableDownload (5).csv')

In [18]:
df

            Cab Service       Name     Car Number           Time Stamp
0              Sky Cabs   Muzaffar  Ts 12 ua 5201  2020/06/12 23:07:55
1                  Uber  Shivaaaya  Ts 06 uc 8537  2020/06/12 23:09:13
2                   Ola     Geeven     Ap28ed7374  2020/06/12 23:11:54
3                   Ola  Syedfazql     Ts07ub7232  2020/06/12 23:13:06
4                  Uber  Md ismail     Ts11ub4823  2020/06/12 23:16:52
...                 ...        ...            ...                  ...
4478  Srinivasa Travels   Srinivas     TS08UE4328  2020/06/19 15:11:16
4479           Sky Cabs     Ramdas     TS07UC3714  2020/06/19 15:14:53
4480                Ola       Ravi     TS07UG5766  2020/06/19 15:16:04
4481               Uber   Yaadgiri     TS13UB5841  2020/06/19 15:22:26
4482  Srinivasa Travels    Mallesh     TS08UG2434  2020/06/19 15:27:11

[4483 rows x 4 columns]

In [22]:
df1 = df[df['Cab Service'] == 'Prepaid taxi']

In [23]:
df1

       Cab Service         Name   Car Number           Time Stamp
264   Prepaid taxi  Skaikahamed  Ap09tva3697  2020/06/13 07:51:00
266   Prepaid taxi      Khaleel   Ap10tv2539  2020/06/13 07:52:07
268   Prepaid taxi       Hameed   Ts10ub8268  2020/06/13 07:53:24
269   Prepaid taxi      Alaltaf   Ts10ub7131  2020/06/13 07:56:13
270   Prepaid taxi        Vakat   Ts09ub9812  2020/06/13 07:57:57
...            ...          ...          ...                  ...
4449  Prepaid taxi       Thaher   AP11TV1649  2020/06/19 14:26:10
4450  Prepaid taxi        Chand   AP10TV2595  2020/06/19 14:27:16
4451  Prepaid taxi        Aalam   AP11TV1617  2020/06/19 14:27:56
4457  Prepaid taxi        Akber   TS09UC5461  2020/06/19 14:40:03
4459  Prepaid taxi    Venkatesh   TS09UB9812  2020/06/19 14:41:09

[351 rows x 4 columns]

In [30]:
df2 = df[df['Cab Service'] == 'Private Taxi']

In [31]:
df2

       Cab Service        Name     Car Number           Time Stamp
1423  Private Taxi  Shamuseein     AP10TV2570  2020/06/15 06:39:14
1424  Private Taxi      Mazhar     AP10TV2555  2020/06/15 06:40:13
1425  Private Taxi       Mohed     AP10TV2527  2020/06/15 06:41:47
1426  Private Taxi  9703178902     AP10RV2583  2020/06/15 06:43:11
1427  Private Taxi     Ahkalee     AP10TV2539  2020/06/15 06:44:38
1428  Private Taxi      Sattar     AP11TV1634  2020/06/15 06:45:18
1429  Private Taxi      Mateen     AP11TV1648  2020/06/15 06:46:01
1430  Private Taxi       Zahed     AP11TV1647  2020/06/15 06:46:47
1431  Private Taxi        Oner     TS09UB7935  2020/06/15 06:47:29
1432  Private Taxi      Younus     AP10TV2558  2020/06/15 06:48:41
1433  Private Taxi      Sultan     TS10UB1947  2020/06/15 06:50:21
2827  Private Taxi    Nagaragu  AP 28 CE 0111  2020/06/16 23:42:29

In [37]:
dfnew = pd.concat([df1,df2])

In [39]:
dfnew.drop('Cab Service', axis=1)

             Name     Car Number           Time Stamp
264   Skaikahamed    Ap09tva3697  2020/06/13 07:51:00
266       Khaleel     Ap10tv2539  2020/06/13 07:52:07
268        Hameed     Ts10ub8268  2020/06/13 07:53:24
269       Alaltaf     Ts10ub7131  2020/06/13 07:56:13
270         Vakat     Ts09ub9812  2020/06/13 07:57:57
...           ...            ...                  ...
1430        Zahed     AP11TV1647  2020/06/15 06:46:47
1431         Oner     TS09UB7935  2020/06/15 06:47:29
1432       Younus     AP10TV2558  2020/06/15 06:48:41
1433       Sultan     TS10UB1947  2020/06/15 06:50:21
2827     Nagaragu  AP 28 CE 0111  2020/06/16 23:42:29

[363 rows x 3 columns]

In [42]:
dfnew.to_csv('/home/naiph/Downloads/now.csv')

In [54]:
dfnew[130:170]

       Cab Service             Name   Car Number           Time Stamp
2013  Prepaid taxi        Abdulaziz   TS10UA1670  2020/06/15 20:26:19
2015  Prepaid taxi             Raju   TS09UC1226  2020/06/15 20:27:16
2052  Prepaid taxi      Ghouse bhai  TS07UA 5634  2020/06/15 20:48:54
2068  Prepaid taxi        Ma rehman   AP10TV2532  2020/06/15 20:59:02
2070  Prepaid taxi           Nayeem   AP10TV2428  2020/06/15 21:01:05
2072  Prepaid taxi             Arif   AP10TV2460  2020/06/15 21:02:22
2075  Prepaid taxi             Alam   AP11TV1617  2020/06/15 21:03:29
2166  Prepaid taxi           Saleem   TS10UA1670  2020/06/15 23:12:57
2167  Prepaid taxi          Liyaqat   AP10TY2460  2020/06/15 23:13:14
2202  Prepaid taxi       8977517757   AP10TV2558  2020/06/16 06:37:16
2203  Prepaid taxi       9390562173   AP10TV2535  2020/06/16 06:37:51
2210  Prepaid taxi       9966979373   TS13UB5385  2020/06/16 06:56:06
2211  Prepaid taxi       9989694832   AP11TV1617  2020/06/16 06:57:13
2212  Prepaid taxi       9160335712   AP10TV2539  2020/06/16 06:58:13
2224  Prepaid taxi       9700734547   AP11TV1647  2020/06/16 07:28:42
2225  Prepaid taxi       9395554479   TS09UB7935  2020/06/16 07:29:37
2226  Prepaid taxi       9849431397   AP10TV2493  2020/06/16 07:30:23
2227  Prepaid taxi       9849761293   AP10TV2549  2020/06/16 07:31:25
2228  Prepaid taxi       8142508665   AP10TV2576  2020/06/16 07:32:05
2229  Prepaid taxi       9059540001   AP29TV6478  2020/06/16 07:32:39
2232  Prepaid taxi       9000643186   AP28TV6638  2020/06/16 07:33:27
2234  Prepaid taxi       9573120873   TS09UA5225  2020/06/16 07:34:47
2235  Prepaid taxi       9703178902   AP10TV2583  2020/06/16 07:35:35
2236  Prepaid taxi       9951553004   AP11TV1634  2020/06/16 07:36:28
2299  Prepaid taxi       9989154494   TS09UB9812  2020/06/16 10:27:29
2301  Prepaid taxi       9704662350   TS09UC5461  2020/06/16 10:28:28
2305  Prepaid taxi       9848078684   TS10UB8268  2020/06/16 10:29:48
2312  Prepaid taxi       9789025404   TS10UB1947  2020/06/16 10:32:57
2314  Prepaid taxi       9966665185   TS10UB9693  2020/06/16 10:33:38
2378  Prepaid taxi            Masud   TS13UA6552  2020/06/16 11:10:33
2394  Prepaid taxi        988565760   AP10TV2530  2020/06/16 11:44:12
2411  Prepaid taxi       9393637728   TS13UA7359  2020/06/16 12:04:30
2412  Prepaid taxi       9346202796   TS10UA1428  2020/06/16 12:05:06
2413  Prepaid taxi       9848385370   AP09TV3784  2020/06/16 12:05:45
2534  Prepaid taxi    Md saleemddim   TS12UA1177  2020/06/16 15:00:24
2536  Prepaid taxi          Magethi   TS09UB9546  2020/06/16 15:01:38
2538  Prepaid taxi      Haji yousuf   AP10TV2526  2020/06/16 15:02:58
2540  Prepaid taxi            Sazki   Ts10UA0035  2020/06/16 15:04:25
2545  Prepaid taxi  Narorver roshon   TS07UA0212  2020/06/16 15:13:51
2546  Prepaid taxi            Rafki   TS10UA6208  2020/06/16 15:15:14