In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
import os
os.chdir('/home/naiph/Downloads')
os.getcwd()

'/home/naiph/Downloads'

In [7]:
df = pd.read_csv('Demographics.csv')

In [8]:
df

,Districts,Males,Females,Sex Ratio (Females per 1000 Males),Rural,Urban,Rural Population (%),Urban Population (%),Households
0,ADILABAD,356407,352565,989,541226,167746,76.34,23.66,156683
1,BHADRADRI,532390,536871,1008,730178,339083,68.29,31.71,279190
2,HYDERABAD,2018575,1924748,954,0,3943323,0.00,100.00,849051
3,JAGTIAL,484079,501338,1036,764081,221336,77.54,22.46,253619
4,JANGAON,283648,282728,997,495019,71357,87.40,12.60,139238
5,JAYASHANKAR,354203,357231,1009,657554,53880,92.43,7.57,189622
6,JOGULAMBA,309274,300716,972,546813,63177,89.64,10.36,132261
7,KAMAREDDY,478389,494236,1033,849003,123622,87.29,12.71,222513
8,KARIMNAGAR,504620,501091,993,696727,308984,69.28,30.72,258485
9,KHAMMAM,699124,702515,1005,1084811,316828,77.40,22.60,382929
10,KOMARAM BHEEM,258197,257615,998,428828,86984,83.14,16.86,120420
11,MAHABUBABAD,388058,386491,996,698173,76376,90.14,9.86,195889
12,MAHABUBNAGAR,745101,741676,995,1178574,308203,79.27,20.73,300508
13,MANCHERIAL,408272,398765,977,453190,353847,56.15,43.85,206983
14,MEDAK,378654,388774,1027,708574,58854,92.33,7.67,168677
15,MEDCHAL,1246666,1193407,957,209828,2230245,8.60,91.40,593697
16,NAGARKURNOOL,437986,423780,968,773936,87830,89.81,10.19,196261
17,NALGONDA,818306,800110,978,1250113,368303,77.24,22.76,401728
18,NIRMAL,346721,362697,1046,557736,151682,78.62,21.38,165763
19,NIZAMABAD,768477,802545,1044,1106272,464750,70.42,29.58,369031
20,PEDDAPALLI,399325,396007,992,491319,304013,61.78,38.22,209677
21,RAJANNA,274109,277928,1014,435145,116892,78.83,21.17,138992
22,RANGAREDDY,1254184,1192081,950,1026113,1420152,41.95,58.05,563565
23,SANGAREDDY,777235,750393,965,997663,529965,65.31,34.69,329208
24,SIDDIPET,504141,507924,1008,873013,139052,86.26,13.74,238049
25,SURYAPET,550974,548586,996,928521,171039,84.44,15.56,285691
26,VIKARABAD,463350,463790,1001,802171,124969,86.52,13.48,194956
27,WANAPARTHY,294833,282925,960,485470,92288,84.03,15.97,123544
28,WARANGAL (R),360315,358222,994,668324,50213,93.01,6.99,187525
29,WARANGAL (U),541301,539557,997,340351,740507,31.49,68.51,269180
30,YADADRI,374719,364729,973,616283,123165,83.34,16.66,180677